#modal {
	display: none;
	backdrop-filter: blur(1rem) brightness(80%);
	min-height: 100%;
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
}

#modal.unhide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	background-color: var(--bg-colour);
	border-radius: 0.3rem;
	border: 1px solid var(--outline-colour);
	padding: 1rem;
	margin: 1rem;
	width: 30%;
	min-height: 50%;
}

.card button {
	float: right;
}
