.layout {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-template-rows: 9rem 1fr;
	grid-template-areas:
		"selector sidebar"
		"main sidebar";
}

.thin {
	grid-area: sidebar;
	border: 1px solid var(--bg-colour);
	border-radius: 0.3rem;
	margin: 1rem;
	padding: 1.5rem;
}

.selector {
	grid-area: selector;
	display: flex;
	overflow-y: auto;
}

.main {
	margin: 1rem;
}
