.whiteKey,
.temp {
	stroke: var(--dark-outline-colour);
	fill: var(--main-colour);
}
.blackKey {
	stroke: var(--dark-outline-colour);
	fill: var(--body-colour);
}

.whiteKeyText {
	/* font-size: 1.3rem; */
	fill: var(--dark-outline-colour);
	pointer-events: none;
	user-select: none;
}
.blackKeyText {
	/* font-size: 1rem; */
	/* font-weight: 200; */
	fill: var(--main-colour);
	pointer-events: none;
	user-select: none;
}
.show {
	stroke: var(--dark-outline-colour);
	fill: var(--accent-colour);
}
.show.blackKey {
	stroke: var(--dark-outline-colour);
	fill: var(--dark-accent-colour);
}
.show ~ text {
	fill: var(--bg-colour);
}

.hide {
	display: none;
}
