.float {
	float: right;
	/* background: #fff; */
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid var(--bg-colour);
	border-radius: 10px;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}