#modal {
	display: none;
	backdrop-filter: blur(1rem) brightness(80%);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: auto;
}

#modal.unhide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	background-color: var(--bg-colour);
	border-radius: 0.3rem;
	border: 1px solid var(--outline-colour);
	padding: 1rem;
	margin: 1rem;
	width: 23vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.close {
	text-align: right;
}

.breadcrumbs {
	font-size: 0.8rem;
	float: right;
}
